<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>New Subject</title>
</head>
<body>

<h2>Create New Subject</h2>

<form th:action="@{/subjects/save}" th:object="${subject}" method="post">


  <label>Name:</label>
  <input type="text" th:field="*{name}" required/><br/>
  <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

  <label>Credit:</label>
  <input type="number" th:field="*{credit}" min="1" required/><br/>
  <div th:if="${#fields.hasErrors('credit')}" th:errors="*{credit}"></div>

  <label>Max Students:</label>
  <input type="number" th:field="*{maxStudents}" min="1" required/><br/>
  <div th:if="${#fields.hasErrors('maxStudents')}" th:errors="*{maxStudents}"></div>

  <button type="submit">Save</button>
</form>

<a th:href="@{/subjects}">Back to Subject List</a>

</body>
</html>
