<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teacher List</title>
</head>
<body>
<h2>Teacher List</h2>

<td><a th:href="@{/teachers/new}">New</a></td>
<td><a th:href="@{/teachers/edit-by-code}">Edit</a></td>
<td><a th:href="@{/teachers/delete-form}">Delete</a></td>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Birth Date</th>
        <th>Experience (Years)</th>
        <th>Ranks</th>
        <th>Majors</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="teacher : ${teachers}">
        <td th:text="${teacher.teacherId}"></td>
        <td th:text="${teacher.code}"></td>
        <td th:text="${teacher.name}"></td>
        <td th:text="${teacher.gender}"></td>
        <td th:text="${teacher.birthDay}"></td>
        <td th:text="${teacher.experienceYears}"></td>

        <td>
            <span th:each="r : ${teacher.ranks}" th:text="${r.name}" th:append="' '" />
        </td>
        <td>
            <span th:each="m : ${teacher.majors}" th:text="${m.name}" th:append="' '" />
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}" style="margin-top: 20px; display: inline-block;">Back to Home</a>

</body>
</html>
