<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Student</title>
    <meta charset="UTF-8">
</head>
<body>
<h2>Create New Student</h2>
<form th:action="@{/students/save}" th:object="${student}" method="post">
    <label>Name:</label>
    <input type="text" th:field="*{name}" required><br>

    <label>Gender:</label>
    <input type="text" th:field="*{gender}" required><br>

    <label>Birth Date:</label>
    <input type="date" th:field="*{birthDay}" required /><br>

    <select th:field="*{major}">
        <option th:each="m : ${majors}" th:value="${m.majorId}" th:text="${m.name}"></option>
    </select>

    <button type="submit">Save</button>
</form>

<a th:href="@{/students}">Back to list</a>
</body>
</html>
